{% load static %} 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Information Aggregator </title>
        <!-- Box-icon -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href={% static 'css/style.css' %}>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src={% static 'js/main.js' %}></script>
    </head>
<body>
    <header>
        <div class="navb container">
            <a href="#" class="logo">Information<span>Aggregator </span></a>
            <a href="{% url 'login' %}" class="login">Sign Up</a>
        </div>
    </header>

    <section class="home" id="home">
        <div class="home-text container">
            <h2 class="home-title">Information Aggregator </h2>
            <span class="home-subtitle">Tach news with bias checker</span>
        </div>
    </section>

    <!-- <section class="about container" id="about">
        <div class="contentBx">
            <h2 class="titleText">Catch up with the trending topics</h2>
            <p class="title-text">The application will aggregate news and information in real time from
                sources requested by user, categorize them based on content, and then
                sort that as per individual usage using an ML based recommendation
                system, and also provide user with an interface to read and save these
                news articles.
                <br>The News Reader interface will also use Natural Language processing to
                analyze if the document is biased towards or against any certain person,
                organization, or a community, and will provide user with an in-depth
                analysis of this Bias-Check.
            </p>
            <a href="#" class="btn2">Read more</a>
        </div>
        <div class="imgBx">
            <img src="{% static 'images/politics.jpg' %}" alt="" class="fitBg">
        </div>
    </section> -->

    <div class="post-filter container">
        <span class="filter-item active-filter" data-filter="all">All</span>
        <span class="filter-item" data-filter="tech">Tech</span>
        <!-- <span class="filter-item" data-filter="food">Food</span> -->
        <!-- <span class="filter-item" data-filter="news">News</span> -->
    </div>
    
    <div class="post post d-flex align-items-center justify-content-center row">
        {% for row in data %}
        <div class="post-box ">
            <img src="{{ row.image}}" alt="" class="post-img">
            <h2 class="category">Tech</h2>
            <a href= {% url 'bias' %} class="post-title">{{ row.title }}</a>
            <span class="post-date">{{row.pub_date}}</span>
            <p class="post-description">{{ row.desc}}</p>
            <div class="profile">
                <img src="{% static 'image/profile.jpg' %}" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div> 
        </div>
        {% endfor %}

    </div>

    <footer>
        <div class="footer-container">
            <div class="sec aboutus">
                <h2>About Us</h2>
                <p>A side product of this application is that it will provide enough raw data
                    that will help us fine tune our Bias-Check model and also run studies to
                    understand how media influences different demographics, how
                    corporates influence media, and various other philosophical, ethical and
                    psychological concerns related to it can be studied empirically</p>
                <ul class="sci">
                    <li><a href="#"><i class="bx bxl-facebook"></i></a></li>
                    <li><a href="#"><i class="bx bxl-instagram"></i></a></li>
                    <li><a href="#"><i class="bx bxl-twitter"></i></a></li>
                    <li><a href="#"><i class="bx bxl-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="sec quicklinks">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
            <div class="sec contactBx">
                <h2>Contact Info</h2>
                <ul class="info">
                    <li>
                        <span><i class='bx bxs-map'></i></span>
                        <span>Indore<br>  33445 <br> india</span>
                    </li>
                    <li>
                        <span><i class='bx bx-envelope' ></i></span>
                        <p><a href="#">NEWSADDA32@gmail.com</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>