{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={% static 'css/style.css' %}>
	<title>News Adda</title>

</head>
<body>
	<nav class="navbar">
		<div class="navdiv">
			<div class="logo"><a href="#">News Adda </a> </div>
			<ul>

				<input type="text" placeholder="Search.." name="search">
				<button><a href="#">Submit</a></button>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
				<button><a href="{% url 'login' %}">Registration </a></button>

			</ul>
		</div>
	</nav>

	<section class="home" id="home">
        <div class="home-text container">
            <h2 class="home-title">News Adda</h2>
            <span class="home-subtitle">News with bias checker</span>
        </div>
    </section>

	<section class="about container" id="about">
        <div class="contentBx">
            <h2 class="titleText">News with bias checker</h2>
            <p class="title-text">The application will aggregate news and information in real-time from sources requested by a user, categorize them based on content, and then
				sort that as per individual usage using an ML-based recommendation system
				Natural Language processing to analyzed if the document is biased towards or against any certain in person.<br>Media inarguably has the biggest influence over an individual’s life, be it
				stuff as small as what to cook today, or what to watch on television, to
				as big as who to vote for in elections. For users, this tool will tell them if
				the article or the news source they’re following is biased, and if yes, how
				much. This will make users conscious about how much biased media do
				they consume and how it affects their daily decisions. System will also
				analyze other details like who wrote the news, or in research related
				news who funded the study, and minute details like these to decide in
				how many ways the information user is going to consume is
				contaminated
            </p>
            <a href="#" class="btn2">Read more</a>
        </div>
        <div class="imgBx">
            <img src="{% static 'images/politics.jpg' %}" alt="" class="fitBg">
        </div>
    </section>

	<div class="post-filter container">
        <span class="filter-item active-filter" data-filter="all">All</span>
        <span class="filter-item" data-filter="tech">Tech</span>
        <span class="filter-item" data-filter="food">Politics</span>
        <span class="filter-item" data-filter="news">News</span>
    </div>


    {% for row in data %}
	<div class="post container">
        <!-- Post 1 -->
        <div class="post-box tech">
            <img src=" {{ row.image }}" alt="" class="post-img">
            <h2 class="category">Politics</h2>
            <a href="{% url 'bias' %}" class="post-title">{{ row.title }}</a>
            <span class="post-date"> {{ row.pub_date }} </span>
            <p class="post-description"> {{ row.desc }} </p>
            <div class="profile">
                <img src="{% static 'images/profile.jpg' %}" alt="" class="profile-img">
                <span class="profile-name">MKHB</span>
            </div>
        </div>
    </div>

    {% endfor %}

		<footer>
			<div class="footer-container">
				<div class="sec aboutus">
					<h2>About Us</h2>
					<p>	The application will aggregate news and information in real-time from
						sources requested by a user, categorize them based on content, and then
						sort that as per individual usage using an ML-based recommendation
						system
						Natural Language processing to analyzed if the document is biased towards or against any certain in person</p>
					<ul class="sci">
						<li><a href="#"><i class="bx bxl-facebook"></i></a></li>
						<li><a href="#"><i class="bx bxl-instagram"></i></a></li>
						<li><a href="#"><i class="bx bxl-twitter"></i></a></li>
						<li><a href="#"><i class="bx bxl-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="sec quicklinks">
					<h2>Quick Links</h2>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
					</ul>
				</div>
				<div class="sec contactBx">
					<h2>Contact Info</h2>
					<ul class="info">
						<li>
							<span><i class='bx bxs-map'></i></span>
							<span> Raju Bhupendra Patidar <br> Great designer  <br> MP / Pandhaniya </span>
						</li>
						<li>
							<span><i class='bx bx-envelope' ></i></span>
							<p><a href="#"> Rajaraju@pandhaniya.com </a></p>
						</li>
					</ul>
				</div>
			</div>
		</footer>

		
</body>
</html>